@model AboutViewModel
<h1>About Us</h1>
<h3>We are @Model.CompanyName</h3>

<p>SMS is a Student Management System
    @Model.FormedStr or @Model.Days days ago
</p>


<p>The time is now @DateTime.Now</p>
