@model AboutViewModel

<h1 class = "custom">@Model.CompanyName</h1>

<p><b>SMS is a Student Management System
    @Model.FormedStr or @Model.Days days ago</b>
</p>

<style>
    .custom {
        font-family: Bush Script MT, Lucida Handwriting, cursive;
        font-size:4;
        color: royalblue;
        
    }
</style>

<p class = "custom">The time is now @DateTime.Now</p>
